<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="/static/css/vendor/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/flat-ui.min.css" rel="stylesheet"/>
  </head>

  <body>
    <!-- navbar -->
    <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-inverse navbar-embossed navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}">Monkey Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>
                  <span class="dropdown-arrow"></span>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li> -->
                {% if 'user_id' in session %}
                <li><a href="{{ url_for('post') }}">Post</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
               </ul>
               <!-- <form class="navbar-form navbar-right" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form> -->
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
      </div> <!-- /row -->

    <div style="margin-top:120px"></div>

    {% block body %}
    {% endblock %}
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/flat-ui.min.js"></script>
  </body>
</html>
